@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

.clickable {
	cursor: pointer;
}

.dividerSolid {
	border-top: 3px solid #bbb;
}

a.nav-link {
	color: black;
}

a.nav-link.active {
	color: white !important;
}

#root {
	font-family: 'Poppins', sans-serif;
}
